{% extends 'base.html' %}



{% block content %}
{% load static %}
  <script src="{% static 'dist/Chart.bundle.js' %}"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

<!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Fleet Profile</h3>
              </div>

              
            </div>
            
            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Fleet <small>Activity Summary</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Settings 1</a>
                            <a class="dropdown-item" href="#">Settings 2</a>
                          </div>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <div class="col-md-3 col-sm-3  profile_left" >
                    <div id="fleet_profile" hx-trigger="FleetProfileChanged  from:body" hx-get= "{% url 'fleet_profile' fleet.id %}" hx-target="this" >
                      <div class="profile_img">
                        <div id="crop-avatar">
                          <!-- Current avatar -->{% if fleet.vehicle_pic %}
                          <div id="crop-avatar">
                          <img class="img-responsive avatar-view" src="{{fleet.vehicle_pic.url}}" alt="Avatar" title="Change the avatar" style="width: auto height: 130px;">
                        </div>
                        {% else %}
                          <h1 class="default"><i class="fa fa-car fa-3x"> </i> </h1>
                        {% endif %}
                        
                        </div>
                      </div>
                      <h3>{{fleet.tag_number}}</h3>

                      <ul class="list-unstyled user_data">
                        <li><h3><i class="fa fa-map-marker user-profile-icon"></i>  {{fleet.field_office}}</h3>
                        </li>
 <div class="project_detail">
 <div class="ln_solid"></div>
                      <li>Type:
                        <strong> {{fleet.vehicle_type}}</strong></li>
                         <li>Ownership:
                        <strong> {{fleet.ownership}}</strong></li>
                         <li>Chassis #:
                        <strong> {{fleet.chassis_number}}</strong></li>
                         <li>Make:
                        <strong> {{fleet.make}}</strong></li>
                         <li>Make Year:
                        <strong> {{fleet.year_make}}</strong></li>

                           <li>Driver:
                        <strong> {{fleet.driver}}</strong></li>

                         <li>Lin Code(Rental):
                        <strong> {{fleet.lin_code}}</strong></li>

                         <li>Start Date:
                        <strong> {{fleet.start_date}}</strong></li>
                        <li>End Date:
                        <strong> {{fleet.end_date}}</strong></li>
                        
                        <P class="title">Description: </p>
                        <p>{{fleet.description}}</p>

                          
 <div class="ln_solid"></div>
 </div>
                        </div>

                      <a class="btn btn-success" hx-get="{% url 'edit_fleet' fleet.id %}" hx-target = "#dialog"><i class="fa fa-edit m-right-xs"></i>Edit Fleet</a>
                      <br />

                      <!-- start skills -->
                     
                      <!-- end of skills -->

                    </div>
                    <div class="col-md-9 col-sm-9 ">
                    

                      <div class="profile_title">
                        <div class="col-md-6">
                          <h2>Fleet Activity Report</h2>
                        </div>
                        
                      </div>
                      <!-- start of user-activity-graph -->
                                  <div id="container" style="width: 100%;"  hx-trigger="load, FleetListChanged  FleetExpenseChanged from:body" hx-get= "{% url 'fleet_activity' fleet.id %}" hx-target="this" >  
   
    </div>
                      <!-- end of user-activity-graph -->

                      <div class="" role="tabpanel" data-example-id="togglable-tabs">
                        <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                          <li role="presentation" class="active"><a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Fleet Monthly Log</a>
                          </li>
                          <li role="presentation" class=""><a href="#tab_content2" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">Fleet Monthly Expense</a>
                          </li>
                          
                        </ul>
                        <div id="myTabContent" class="tab-content">
                          <div role="tabpanel" class="tab-pane active " id="tab_content1" aria-labelledby="home-tab">

                            <!-- start recent activity -->
                            <div class="table"  id="fleetlog" hx-trigger="FleetListChanged from:body" hx-get= "{% url 'partial_fleet_log' fleet.id %}" hx-target="this" >
                            <table class="data table table-sm table-striped no-margin">
                              <thead>
                                <tr>
                                  
                                  <th style="width:12%">Month</th>
                                 <th style="width:7%">Year</th>
                                  <th style="width:10%">Start KM</th>
                                    <th style="width:10%">End KM</th>
                                     <th style="width:13%">KM Driven</th>
                                     <th style="width:7%"><small> Days in Use</small></th>
                                     <th style="width:7%"><small> Days Idle</small></th>
                                       <th style="width:7%"><small> Days in Workshop</small></th>
                                         <th style="width:7%"><small> Days visit Workshop</small></th>
                                         <th style="width:10%"><small> Logsheet</small></th>
                                         <th>Edit</th>




                                </tr>
                              </thead>
                              <tbody>
                              {% if fleet_log %}
                            {% for log in fleet_log %}
                                <tr>
                                  <td>{{log.month_log}}</td>
                                  <td>{{log.year_log}}</td>
                                 <td>{{log.start_km}}</td>
                                  <td>{{log.end_km}}</td>
                                    <td>{{log.km_driven}}</td>
                                  <td>{{log.day_in_use}}</td>
                                  <td>{{log.day_idle}}</td>
                                   <td>{{log.day_in_workshop}}</td>
                                   <td>{{log.workshop_visit}}</td>
                                   <td> {% if log.log_sheet %}<a href="{% url 'download_logsheet' log.id %}"><i class="fa fa-paperclip"></i>  view</a> {% else %}NA{% endif%} </strong></td>
                                  <td>
                                  <a hx-get="{% url 'edit_fleet_log' fleet.id log.id %}" hx-target="#dialog" ><i class="fa fa-edit"></i></a>
                                  </td>
                                  
                                  
                                </tr>
                                
                               {% endfor %}
                               {% endif %}
                              </tbody>
                            </table>
                            </div>
                            
                           
                 
                            <!-- end recent activity -->

                                    <div class="text-right">
                                    <button  hx-get="{% url 'add_fleet_log' fleet.id %}" hx-target="#dialog" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i>
                                      New Logsheet
   
</div>
                                    
                          </div>
                          <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">
<div class="table"  id="fleetlog" hx-trigger="FleetExpenseChanged from:body" hx-get= "{% url 'partial_fleet_expense' fleet.id %}" hx-target="this" >
                            <!-- start user projects -->
                            <table class="data table table-sm table-striped no-margin">
                              <thead>
                                <tr>
                                  <th>Month</th>
                                  <th>Year</th>
                                  <th>Expense Type</th>
                                 
                                 <th>Volume</th>
                                 <th>Unit</th>
                                  <th>Value(ETB)</th>
                                   <th>Km./1Lt.</th>
                                  <th>Edit</th>
                                </tr>
                              </thead>
                              <tbody>
                              {% if fleet_expense %}
                            {% for expense in fleet_expense %}
                                <tr>
                                 
                                  <td>{{expense.month_expense}}</td>
                                   <td>{{expense.year_expense}}</td>
                                  <td>{{expense.expense_type}}</td>
                                   <td>{{expense.expense_volume}}</td>
                                    <td>{{expense.volume_unit}}</td>
                                     <td>{{expense.expense_value}}</td>
                                     <td>{{expense.get_kmpl|floatformat:"2g"}}</td>
                                     <td>
                                  <a hx-get="{% url 'edit_fleet_expense' fleet.id expense.id %}" hx-target="#dialog" ><i class="fa fa-edit"></i></a>
                                  </td>
                                </tr>
                                {% endfor %}
                                {% endif %}
                              </tbody>
                            </table>
                            </div>
                            <!-- end user projects -->
                             <div class="text-right">
<button  hx-get="{% url 'add_fleet_expense' fleet.id %}" hx-target="#dialog" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i>
                                      New Expense
                                    </button>
                                    </div>
                          </div>

                          <div role="tabpanel" class="tab-pane fade" id="tab_content3" aria-labelledby="profile-tab">
                            <p>xxFood truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui
                              photo booth letterpress, commodo enim craft beer mlkshk </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
             </div><div class="modal fade bs-example-modal-lg" id="modal" class="modal fade">
                       <div id="dialog" class="modal-dialog modal-lg" hx-target="this"></div>
                    </div>
          </div>
        </div>
        <!-- /page content -->
   

{% endblock %}
