{% extends 'base.html' %}

{% block content %}
{% load static %} 
<!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Fleet Profile</h3>
              </div>

              
            </div>
            
            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Fleet <small>Activity Summary</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Settings 1</a>
                            <a class="dropdown-item" href="#">Settings 2</a>
                          </div>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <div class="col-md-3 col-sm-3  profile_left">
                      <div class="profile_img">
                        <div id="crop-avatar">
                          <!-- Current avatar -->{% if fleet.vehicle_pic %}
                          <div id="crop-avatar">
                          <img class="img-responsive avatar-view" src="{{fleet.vehicle_pic.url}}" alt="Avatar" title="Change the avatar" style="width: 200px; height: auto;">
                        </div>
                        {% else %}
                          <h1 class="default"><i class="fa fa-car fa-3x"> </i> </h1>
                        {% endif %}
                        
                        </div>
                      </div>
                      <h3>{{fleet.tag_number}}</h3>

                      <ul class="list-unstyled user_data">
                        <li><h3><i class="fa fa-map-marker user-profile-icon"></i>  {{fleet.field_office}}</h3>
                        </li>
 <div class="project_detail">
 <div class="ln_solid"></div>
                      <li>Type:
                        <strong> {{fleet.vehicle_type}}</strong></li>
                         <li>Ownership:
                        <strong> {{fleet.ownership}}</strong></li>
                         <li>Chassis #:
                        <strong> {{fleet.chassis_number}}</strong></li>
                         <li>Make:
                        <strong> {{fleet.make}}</strong></li>

                           <li>Driver:
                        <strong> {{fleet.driver}}</strong></li>

                         <li>Supervisor:
                        <strong> {{fleet.supervisor}}</strong></li>

                         <li>Start Date:
                        <strong> {{fleet.start_date}}</strong></li>
                        <li>End Date:
                        <strong> {{fleet.end_date}}</strong></li>
                         <li>Lin Code:
                        <strong> {{fleet.lin_code}}</strong></li>
                        <P class="title">Description</p>
                        <p>{{fleet.description}}</p>

                          
 <div class="ln_solid"></div>
                        </div>

                      <a class="btn btn-success" hx-get="{% url 'edit_fleet' fleet.id %}" hx-target = "#dialog"><i class="fa fa-edit m-right-xs"></i>Edit Profile</a>
                      <br />

                      <!-- start skills -->
                     
                      <!-- end of skills -->

                    </div>
                    <div class="col-md-9 col-sm-9 ">

                      <div class="profile_title">
                        <div class="col-md-6">
                          <h2>Fleet Activity Report</h2>
                        </div>
                        <div class="col-md-6">
                          <div id="reportrange" class="pull-right" style="margin-top: 5px; background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #E6E9ED">
                            <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                            <span>December 30, 2014 - January 28, 2015</span> <b class="caret"></b>
                          </div>
                        </div>
                      </div>
                      <!-- start of user-activity-graph -->
                      <div id="graph_bar" style="width:100%; height:280px;"></div>
                      <!-- end of user-activity-graph -->

                      <div class="" role="tabpanel" data-example-id="togglable-tabs">
                        <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                          <li role="presentation" class="active"><a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Fleet Monthly Log</a>
                          </li>
                          <li role="presentation" class=""><a href="#tab_content2" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">Fleet Monthly Expense</a>
                          </li>
                          <li role="presentation" class=""><a href="#tab_content3" role="tab" id="profile-tab2" data-toggle="tab" aria-expanded="false">Other</a>
                          </li>
                        </ul>
                        <div id="myTabContent" class="tab-content">
                          <div role="tabpanel" class="tab-pane active " id="tab_content1" aria-labelledby="home-tab">

                            <!-- start recent activity -->
                            <table class="data table table-sm table-striped no-margin">
                              <thead>
                                <tr>
                                  
                                  <th>Month</th>
                                 <th>Year</th>
                                  <th>Start KM</th>
                                    <th>End KM</th>
                                     <th style="width:7%"><small> Days in Use</small></th>
                                     <th style="width:7%"><small> Days Idle</small></th>
                                       <th style="width:7%"><small> Days in Workshop</small></th>
                                         <th style="width:7%"><small> Days visit Workshop</small></th>
                                         <th style="width:10%"><small> Logsheet</small></th>
                                          <th></th>




                                </tr>
                              </thead>
                              <tbody>
                            {% for log in fleet_log %}
                                <tr>
                                  <td>{{log.month_log}}</td>
                                  <td>{{log.year_log}}</td>
                                 <td>{{log.start_km}}</td>
                                  <td>{{log.end_km}}</td>
                                  <td>{{log.day_in_use}}</td>
                                  <td>{{log.day_idle}}</td>
                                   <td>{{log.day_in_workshop}}</td>
                                   <td>{{log.workshop_visit}}</td>
                                   <td> {% if log.log_sheet %}<a href="{% url 'download_logsheet' log.id %}"><i class="fa fa-paperclip"></i>  view</a> {% else %}NA{% endif%} </strong></td>
                                  <td>
                                  <a hx-get="{% url 'edit_fleet_log' log.id %}" hx-target="#dialog" ><i class="fa fa-edit"></i></a>
                                  </td>
                                  
                                  
                                </tr>
                                
                               {% endfor %}
                              </tbody>
                            </table>
                            <!-- end recent activity -->
<button  hx-get="{% url 'add_fleet_log' fleet.id %}" hx-target="#dialog" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i>
                                      Add New
                                    </button>
                          </div>
                          <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">

                            <!-- start user projects -->
                            <table class="data table table-striped no-margin">
                              <thead>
                                <tr>
                                  <th>#</th>
                                  <th>Project Name</th>
                                  <th>Client Company</th>
                                  <th class="hidden-phone">Hours Spent</th>
                                  <th>Contribution</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>1</td>
                                  <td>New Company Takeover Review</td>
                                  <td>Deveint Inc</td>
                                  <td class="hidden-phone">18</td>
                                  <td class="vertical-align-mid">
                                    <div class="progress">
                                      <div class="progress-bar progress-bar-success" data-transitiongoal="35"></div>
                                    </div>
                                  </td>
                                </tr>
                                <tr>
                                  <td>2</td>
                                  <td>New Partner Contracts Consultanci</td>
                                  <td>Deveint Inc</td>
                                  <td class="hidden-phone">13</td>
                                  <td class="vertical-align-mid">
                                    <div class="progress">
                                      <div class="progress-bar progress-bar-danger" data-transitiongoal="15"></div>
                                    </div>
                                  </td>
                                </tr>
                                <tr>
                                  <td>3</td>
                                  <td>Partners and Inverstors report</td>
                                  <td>Deveint Inc</td>
                                  <td class="hidden-phone">30</td>
                                  <td class="vertical-align-mid">
                                    <div class="progress">
                                      <div class="progress-bar progress-bar-success" data-transitiongoal="45"></div>
                                    </div>
                                  </td>
                                </tr>
                                <tr>
                                  <td>4</td>
                                  <td>New Company Takeover Review</td>
                                  <td>Deveint Inc</td>
                                  <td class="hidden-phone">28</td>
                                  <td class="vertical-align-mid">
                                    <div class="progress">
                                      <div class="progress-bar progress-bar-success" data-transitiongoal="75"></div>
                                    </div>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                            <!-- end user projects -->

                          </div>
                          <div role="tabpanel" class="tab-pane fade" id="tab_content3" aria-labelledby="profile-tab">
                            <p>xxFood truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui
                              photo booth letterpress, commodo enim craft beer mlkshk </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
             </div><div class="modal fade bs-example-modal-lg" id="modal" class="modal fade">
                       <div id="dialog" class="modal-dialog modal-lg" hx-target="this"></div>
                    </div>
          </div>
        </div>
        <!-- /page content -->
        
{% endblock %}