{% load widget_tweaks %}
  


                    {% with WIDGET_ERROR_CLASS='is-invalid' %}
                                                                
<form  hx-post="{{ request.path }}" hx-headers='{"X-CSRFToken":"{{ csrf_token }}"}' class="modal-content" enctype="multipart/form-data" >
    {% csrf_token %}
<div class="modal-header">
    <h5 class="modal-title">Fleet Log Form</h5>
<button type="button" class="close" data-bs-dismiss="modal"><span aria-hidden="true">×</span>
                          </button>
</div>
<div class="modal-body">

    
 <div class="form-group row">
           
                <label class="col-form-label col-md-2 col-sm-2 label-align">Month:</label>
                   <div class="col-3 col-sm-3">
                    {% render_field form.month_log class="form-control form-control-sm" %}
              
                <div class="invalid-feedback">{{ form.month_log.errors|first }}</div>
        </div>
    
           
                <label class="col-form-label col-md-2 col-sm-2 label-align">Year:</label>
                   <div class="col-3 col-sm-3">
                    {% render_field form.year_log class="form-control form-control-sm"  %}
                     {% render_field form.type class="form-control form-control-sm"   %}
              
                <div class="invalid-feedback">{{ form.year_log.errors|first }}</div>
        </div>
         
                   <div class="col-2 col-sm-2">
                    {% render_field form.fleet class="form-control form-control-sm" %}
              
                <div class="invalid-feedback">{{ form.fleet.errors|first }}</div>
        </div>
    
        </div>
    
        
        <div class="form-group row">
           
                <label class="col-form-label col-md-2 col-sm-2 label-align">Start KM:</label>
                   <div class="col-3 col-sm-3">
                    {% render_field form.start_km class="form-control form-control-sm"  hx-get="/portfolio/categories/" hx-target="#id_category" hx-swap="innerHTML" %}
              
                <div class="invalid-feedback">{{ form.start_km.errors|first }}</div>
        </div>
         <label class="col-form-label col-md-2 col-sm-2 label-align">End KM:</label>
                   <div class="col-3 col-sm-3">
                    {% render_field form.end_km class="form-control form-control-sm"  %}
              
                <div class="invalid-feedback">{{ form.end_km.errors|first }}</div>
        </div></div>
        <div class="form-group row">
           
                <label class="col-form-label col-md-2 col-sm-2 label-align">Days in Use:</label>
                   <div class="col-3 col-sm-3">
                    {% render_field form.day_in_use class="form-control form-control-sm"  hx-get="/portfolio/categories/" hx-target="#id_category" hx-swap="innerHTML" %}
              
                <div class="invalid-feedback">{{ form.day_in_use.errors|first }}</div>
        </div>
         <label class="col-form-label col-md-2 col-sm-2 label-align">Days Idle:</label>
                   <div class="col-3 col-sm-3">
                    {% render_field form.day_idle class="form-control form-control-sm"  %}
              
                <div class="invalid-feedback">{{ form.day_idle.errors|first }}</div>
        </div></div>
        
       <div class="form-group row">
           
                <label class="col-form-label col-md-2 col-sm-2 label-align">Days in Workshop:</label>
                   <div class="col-3 col-sm-3">
                    {% render_field form.day_in_workshop class="form-control form-control-sm"  hx-get="/portfolio/categories/" hx-target="#id_category" hx-swap="innerHTML" %}
              
                <div class="invalid-feedback">{{ form.day_in_workshop.errors|first }}</div>
        </div>
         <label class="col-form-label col-md-2 col-sm-2 label-align">Workshop Visit:</label>
                   <div class="col-3 col-sm-3">
                    {% render_field form.workshop_visit class="form-control form-control-sm"  %}
              
                <div class="invalid-feedback">{{ form.workshop_visit.errors|first }}</div>
        </div></div>
        
       <div class="form-group row">
           
                <label class="col-form-label col-md-2 col-sm-2 label-align">Logsheet</label>
                   <div class="col-3 col-sm-3">
                    {% render_field form.log_sheet class="form-control form-control-sm"  hx-get="/portfolio/categories/" hx-target="#id_category" hx-swap="innerHTML" %}
              
                <div class="invalid-feedback">{{ form.log_sheet.errors|first }}</div>
        </div>
   
   
       
   

</div>
<div class="modal-footer">

    <div class="form-group row">	
       						
        <div class="col-md-12 col-sm-12">
         {% if fleet_log %}
          <button type="button" class="btn btn-danger btn-sm" hx-post="{% url 'remove_fleetlog' pk=fleet_log.pk %}">Remove</button>
          <span class="flex-grow-1"></span>
          {% endif %}
		 <button type="button" class="btn btn-secondary btn-sm"  data-bs-dismiss="modal"> Cancel </button>					       

        <button type="submit" class="btn btn-sm btn-xs btn-primary" >Save Changes</button>
        </div>
     
    </div>
</div>
</form>

{% endwith %}